<!DOCTYPE html>
<html ng-app="search">
<head>
<title>Search</title>
<!-- <link href="css/angular-bootstrap.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
<script src="js/main.js"></script>

<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>
</head>
<body>


	<div ng-controller="home">
		<div class="search-header">
			<div class='container'>
	
				<div class="row">
					<div class="col-md-8">
	
						<form>
							<h2>Search</h2>
							<p class="lead">Search This</p>
	
							<div class="container-fluid typeahead-demo">
								<input type="text" ng-model="searchString"

									class="form-control" />
								
								<span class="input-group-btn">
									<button type="submit" ng-click="getSearchResult(searchString)"
										class="btn btn-md btn-warning pull-right">search</button> <!-- <a href="/search/{{searchString}}"><button class="pull-right">{{searchString}}</button></a> -->
								</span>
							</div>
						</form>
					</div>
	
				</div>
				<div ng-show="results.length">
					<h2>Search Results</h2>
				</div>
				<div class="row" ng-repeat="result in results">
					<hr />
					<a href="file:///{{result.link}}">{{result.title}}</a>
				</div> 
	
			</div>
		</div>
	</div>

</body>
</html>
